<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FARHAMPTON HOTEL</title>
<meta property="og:url" content="http://www.valeron.net/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Free responsive web template Istria" />
<meta property="og:description" content="Free responsive web template Istria 1 by Valeron design studio" />
<meta property="og:image" content="http://www.valeron.net/img/valeron-artist.jpg" />
<meta name="description" content="Free responsive web template Istria 1 by Valeron design studio" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="robots" content="index,follow,all" />
<meta name="keywords" content="Izrada web stranica, web studio Istra" />
<meta name="author" content="Valeron design studio" />
<link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="~/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="~/images/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="~/images/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="~/images/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="~/images/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="~/images/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="~/Content/animsition.min">
<link rel="stylesheet" type="text/css" href="~/Content/grid.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/menu.css" />
<link rel="stylesheet" type="text/css" href="~/Content/overlay.css" />
<link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="animsition-overlay">
  <div id="section-1">
    <header class="main_h">
      <div class="menufix"> <a class="logo" href="~/Home/Index"><img src="~/images/logo-sample.png" alt="Hello"></a>
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
          <ul>
            <li class="line"><a class="out animsition-link" href="~/Home/index">HOME</a></li>
            <li class="line"><a class="out animsition-link" href="~/Home/rooms">ROOMS</a></li>
            <li class="line"><a class="out animsition-link" href="~/Home/reservation">RESERVATION</a></li>
            <li class="line"><a class="out animsition-link" href="~/Home/gallery">GALLERY</a></li>
            <li class="line"><a class="out animsition-link" href="~/Home/contact">CONTACT</a></li>
              @if(Session["username"]==null)
              {
            <li class="line"><a class="out animsition-link" href="~/Home/login">LOGIN</a></li>
            <li class="line"><a class="out animsition-link" href="~/Home/signup">SIGN UP</a></li>
              }
              else
              {
                   <li class="line"><a class="out animsition-link" href="#">@Session["username"]</a></li>
                   <li class="line"><a class="out animsition-link" href="~/Home/logout">LOGOUT</a></li>
              }
            <li class="line"><a class="out animsition-link" href="~/Home/reservation">RESERVATION</a></li>
          </ul>
        </nav>
      </div>
      <!-- / row --> 
      
    </header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
</body>
</html>
